/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
	font-family:'Maven Pro', sans-serif;
	font-weight:400;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #e2812b;
    text-shadow: none;
}

::selection {
    background: #e2812b;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.top-frame {
	width:100%;
	height:680px;
	background:#000 url(../img/header-bg.jpg) no-repeat top center;
	position:fixed;
	top:0;
	-webkit-font-smoothing:antialiased;
}
.top-frame .mainheader {
	width:1000px;
	margin:0 auto;
	color:#fff;
}
.top-frame .mainheader .logo {
	float:left;
	text-transform:uppercase; 
	font-size:1.25em;
	font-weight:700;
	color:#79d1b0;
}

.top-frame .header-stuff {
	margin-top: 40px;
}

.header-stuff ul{
	margin-top: 0;
}

.top-frame nav {
	float:right;
	width:430px;
	font-family:'Maven Pro', sans-serif;
}
nav li {
	float:left;
	margin:0 0 0 40px;

}
#nav-bar nav {
	float:right;
	margin-top:0px;
	font-family:'Maven Pro', sans-serif;
	-webkit-font-smoothing:antialiased;
}

.nav-bar-wrap {
	width:1000px;
	margin:0 auto;
}
.nav-bar-wrap .logo {
	margin-top:12px;
}

ul.jsnav {
	margin:0;
}

nav li:first-child {
	margin:0;
}

nav a, .header-stuff a{
	-moz-transition:all 0.3s ease-in-out; 
	-webkit-transition:all 0.3s ease-in-out;
	text-decoration:none; 
	color:#79d1b0;
	/*text-transform:uppercase; */
	font-size:1.25em;
	font-weight:500;
}

nav a:hover , .header-stuff a:hover{ 
	color:#252525; 
	-moz-transition:all 0.3s ease-in-out; 
	-webkit-transition:all 0.3s ease-in-out; 
}

.top-frame .mainheader h1 {
	display:block;
	font-family:'Maven Pro', sans-serif;
	font-weight:300;
	font-size:2em;
	width:800px;
	text-align:center;
	float:left;
	line-height:1.9em;
	margin-left:90px;
	margin-top: 190px;
	color:#252525;
}


.logo-banner {
	position:relative;
	top:425px;
	width:100%;
	font-family:'Maven Pro', sans-serif;
	font-weight:500;
	font-size: 250px;
	text-align: center;
	margin: 0 auto;
	line-height: 190px;
}

.logo-banner img {
	border: none;
    display: block;
	margin: 0 auto;
}

.site {
	position:relative;
	top:421px;
	background:#252525;
}
.site .second-frame .the-team {
	width:1000px;
	margin:0 auto;
	padding-top:120px;
	overflow:auto;
	margin-bottom:120px;
}
.textcontent {
	float:left;
	width:500px;
}
.image-section {
	float:left;
	width:500px;
}
.textcontent h1 {
	display:block;
	font-family:'Maven Pro', sans-serif;
	font-weight:normal;
	color:#79d1b0;
	font-size:2.25em;
}
.textcontent p {
	font-size:1.5em;
	color:#8c8c8c;
	line-height:1.8em;
}

.section-header h1 {
	display:block;
	font-family:'Maven Pro', sans-serif;
	font-weight:normal;
	color:#79d1b0;
	font-size:2.25em;
}
.section-header p {
	font-size:1.5em;
	color:#8c8c8c;
	line-height:1.8em;
}


a {
	color:#79d1b0;
	text-decoration:none;
	-moz-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;
}
a:hover {
	color:#252525;
	-moz-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;
}

.image-box {
	width:420px;
	height:320px;
	color:#fff;
	font-size:1.125em;
	-webkit-font-smoothing:antialiased;
	padding:20px;
	margin:0 0 0 40px;
}

.image-box#our-faces {
	background:url(../img/team.jpg) no-repeat center center #252525;
}

.image-box#companies {
	background:url(../img/companies.png) no-repeat center center #252525;
}

.bold {
	font-weight:700;
}
.third-frame {
	background:#f3f3f3;
}
.fourth-frame {
	background:#79d1b0;
	color:#252525;
}

.fourth-frame .section-header h1 {
	color:#f3f3f3;
}

.frame-content {
	width:1000px;
	margin:0 auto;
	overflow:auto;
	padding-top:100px;
	padding-bottom: 100px;
}

.content-box {
	width:398px;
	float:left;
	background:#e4e4e4;
	margin-left:40px;
	margin-top:20px;
	margin-bottom:20px;
	padding: 20px 30px;
	text-align:center;
	font-size:1.5em;
	line-height:1.8em;
	color:#8c8c8c;
}

.footerwrap {
	width:100%;
	background:#000;
	padding-bottom: 20px;
}
.mainfooter {
	width:1000px;
	margin:0 auto;
	overflow:auto;
}
.footerthanks {
	display:block;
	margin-top:40px;
	float:left;
}
.footerlogo {
	display:block;
	float:left;
	margin-top:105px;
	margin-left:110px;
}

.mainfooter p {
	display:block;
	float:left;
	width:1000px;
	text-align:center;
	margin-top:100px;
	color:#656565;
	font-size:0.9em;
}
#nav-bar {
	height:70px;
	width:100%;
	background:#000;
	position:fixed;
	z-index:999;
}
.hide {
	display:none;
}
.show {
	display:block;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
